.App {
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4.5em;
  font-family: "Oswald";
  color: black;
  text-align: center;
  background-image: url("background.jpeg");
}

.App-intro {
  font-size: large;
}

.dogListing {
    background: white;
    border: 1px solid #ccc;
    width: 20%;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px 2px 3px 0px #ccc;
}

.searchbar {
  border: 1px solid lightgray;
  width: 319px;
  height: 17px;
  font-size: 2em;
  border-radius: 3px;
  padding: 1em;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
